

<%= form_tag set_colour_path, remote: true do %>

	<%=color_field :rgb, :colour %>
	<%=submit_tag %>


<% end %>



<%= form_tag off_path, remote: true do %>

	
	<%=submit_tag "Turn Off" %>


<% end %>


<div class="colour-set">
	
</div>